<ng-container *ngIf="store.character() as character; else loading">
  <div class="character-gear">
    <div class="gear-left">
      <lib-gear-slot
        *ngFor="let slot of store.leftGears()"
        [slot]="slot"
      ></lib-gear-slot>
    </div>

    <div class="gear-center">
      <h2>{{character.name}}</h2>

      <div class="character-wrapper" style="width: 300px; height: 267px;">
        <app-character-viewer [character]="character"></app-character-viewer>
      </div>
    </div>

    <div class="gear-right">
      <lib-gear-slot
        *ngFor="let slot of store.rightGears()"
        [slot]="slot"
      ></lib-gear-slot>
    </div>
  </div>

  <div class="gear-bottom">
    <lib-gear-slot
      *ngFor="let slot of store.bottomGears()"
      [slot]="slot"
    ></lib-gear-slot>
  </div>
</ng-container>

<ng-template #loading>
  <div class="loader-fullscreen">
    Loading character...
  </div>
</ng-template>
