$gear-gap: 0.5rem;

.character-gear {
  display: grid;
  grid-template-columns: auto 0.25fr auto;
  grid-template-rows: auto auto auto;
  align-items: center;
}

.gear-center {
  grid-column: 2;
  grid-row: 1 / span 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gear-left {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  gap: $gear-gap;
  align-items: flex-end;
}

.gear-right {
  grid-column: 3;
  display: flex;
  flex-direction: column;
  gap: $gear-gap;
  align-items: flex-start;
}

.gear-bottom {
  grid-column: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $gear-gap;
  margin-top: 1rem;
  width: 100%;
}
